@model IEnumerable<MovieDataLayer.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Movie List</h2>
<hr />
<table>
    <thead>
        <tr>
            <th>Movie Id</th>
            <th>Movie Name</th>
            <th>Movie Description</th>
            <th>Movie Type</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.MovieName</td>
                    <td>@item.MovieDesc</td>
                    <td>@item.MovieType</td>
                    <td>@Html.ActionLink("Edit", "EditMovie", new { item.Id })</td>
                    <td>@Html.ActionLink("Delete", "DeleteMovie", new { item.Id })</td>
                </tr>
            }
    </tbody>
</table>


